.letra{
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;;
}
.card-img-top{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
.card{
    padding-top: 10px;
}
.add_padding{
    padding-left: 39%;
}
.text {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: #000;
    margin-bottom: 25px;
}

.hipervinculo {
    text-decoration: none;
    text-align: center;
    font-size: 1 rem;
    font-weight: 700;
    line-height: 40px;
    color: white;
    margin: 30px;
}

.form-body input {
    display: block;
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px;
    color: rgb(122, 122, 122);
    border: 1px solid rgb(122, 122, 122);
    border-radius: 2px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem;
    outline: none;
}

.form-body input[type="password"] {
    margin-top: 20px;
}

::placeholder {
    font-size: 1rem;
    color: rgb(122, 122, 122);
}

.form-body input:hover {
    transition: .5s;
    border: 1px solid black;
    color: black;
}

.form-body button {
    display: block;
    margin: auto;
    margin-top: 8px;
    margin-bottom: 13px;
    height: 40px;
    width: 78%;
    background: solid;
    background-color: rgb(0, 85, 134);
    color: white;
    border-radius: 50px;
    cursor: pointer;
    outline: none;
    border: 2px solid rgb(0, 85, 134);
    transition: all .5s ease;

}

.form-body button:hover {
    color: white;
    border: 2px solid rgb(79, 200, 216);
    background: rgb(79, 200, 216);
}

.comment {
    margin: 20px 0px 20px 20px;
}

#carta {
    width: 200px;
    height: 200px;
    border: 1px solid #c3c3c3;
    display: flex;
    flex-wrap: wrap;
}

#carta div {
    width: 50px;
    height: 50px;
}
.boton{
    color: #477cee !important;
    font-size: 20px;
    font-weight: 500;
    padding: 0.5em 1.2em;
    background: #318aac;
    border: 2px solid;
    border-color: #318aac;
    position: relative;
  }
  .boton:before {
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 0px;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transition: all 1s ease;
  }
  .boton:hover:before {
  width: 100%;
  }