{% extends 'catalog/med_template.html' %}
{% load static %}

{% block titulo %}
<title> "Nombre del medicamento"| Cesfam</title>
{% endblock titulo %}

{% block img1 %}
<img src="#" class="img-fluid rounded-start" alt="..." style="width:450px;height:455px;">
{% endblock img1 %}

{% block name1 %}
<h5 class="card-title">"Nombre medicamento"</h5>
{% endblock name1 %}

{% block text1 %}
<br> "descripcion o caracteristicas medicamento" <br>
{% endblock text1 %}

{% block precio %}
<br>"Precio y cantidad restante"<br>
{% endblock precio %}