{% extends 'catalog/pag_template.html' %}
{% load static %}

{% block titulo %}
<title>¡Bienvenido!| Cesfam</title>
{% endblock titulo %}

{% block all %}
<!--<h1 class="text" style="text-align: center; color: rgb(0, 76, 255); font-family: Lobster; "><br><b>Generar
                prescripciones<b></h1>
                -->
<div class="row row-cols-2 row-cols-md-4 mt-2 mb-4 gy-3">
    <!--divisor para las card, hacer que esten dentro de la misma fila-->
    <div class="card , col-md-3 col-sm-12  col-xs-12, mx-auto" style="width: 15rem;">
        <br><img src="#" class="card-img-top" alt="..." style="width:190px;height:155px;">
        <div class="card-body">
            <br>
            <a href="{% url 'catalog:prescripcion_crear' %}" class="btn btn-primary mb-3">Crear prescripciones</a>
            <!--MEJORAR-->
            <!--poner href la url como sale abajo, para ver el detalle del producto-->
            <div class="col-md-10">
            </div>
        </div>
    </div>
</div>

<div class="row row-cols-2 row-cols-md-4 mt-2 mb-4 gy-3">
    <!--divisor para las card, hacer que esten dentro de la misma fila-->
    <div class="card , col-md-3 col-sm-12  col-xs-12, mx-auto" style="width: 15rem;">
        <br><img src="#" class="card-img-top" alt="..." style="width:190px;height:155px;">
        <div class="card-body">
            <br>
            <a href="#" class="btn btn-primary mb-3">Ver prescripciones</a><!--CREAR HTML Y CODIGO-->
            <!--poner href la url como sale abajo, para ver el detalle del producto-->
            <div class="col-md-10">
            </div>
        </div>
    </div>
</div>


<div class="row row-cols-2 row-cols-md-4 mt-2 mb-4 gy-3">
    <!--divisor para las card, hacer que esten dentro de la misma fila-->
    <div class="card , col-md-3 col-sm-12  col-xs-12, mx-auto" style="width: 15rem;">
        <br><img src="#" class="card-img-top" alt="..." style="width:190px;height:155px;">
        <div class="card-body">
            <br>
            <a href="#" class="btn btn-primary mb-3">Ver stock medicamentos</a><!--MEJORAR-->
            <!--poner href la url como sale abajo, para ver el detalle del producto-->
            <div class="col-md-10">
            </div>
        </div>
    </div>
</div>
{% endblock all %}