<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'project/img/logo.png' %}">
    {% block titulo %}

    {% endblock titulo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Lobster&display=swap"
        rel="stylesheet">
    <link href="{% static 'catalog/css/css_catalog.css' %}" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <!--link necesario para css-->
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="row bg-primary">
                <br>
                <div class="row">
                    <br>
                    <div class="col-3" style="justify-content: start;">
                        <a href="{% url 'menu_medico' %}" class="h1 "
                            style="font-family:Goldman;text-decoration:none ; color: white;">CESFAM</a>
                    </div>
                    <div class="col-6"></div>
                    <div class="col-3" style="justify-content: end;">
                        <a style="border-color: #001a57;" class="btn btn-primary" href="{% url 'logout' %}">Salir</a>
                        {% if request.user.is_staff %}
                        <a style="border-color: #001a57;" class="btn btn-danger" href="{% url 'registro' %}">registrar
                            un usuario</a>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <p class="h5" style="font-family:Goldman;text-decoration:none ; color: white;opacity: 0.5;">Sistema
                        de gestión médica</p>
                    {% if request.user.is_staff %}
                    <div class="container bg-danger bg-opacity-75">
                        <h1 id="titulo" class="text-white d-flex justify-content-center"> vista de Moderador</h1>
                    </div>
                    {% endif %}
                </div>
            </div>

        </div>
            {% block all %}

            {% endblock all %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    {% block script %}
    {% endblock script %}
</body>



</html>