<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="{% static 'catalog/img/logo.png' %}">
    {% block titulo %}

    {% endblock titulo %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&family=Lobster&display=swap"
        rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="{% static 'project/css/css_catalog.css' %}" type="text/css" rel="stylesheet">
    <!--link necesario para css-->
</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4">
            <div class="container-fluid">
                <a class="navbar-brand" href="#" style="font-family:Goldman; font-size: 20px;"><b>CESFAM</b></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="#"><b>Principal</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><b>Pacientes</b></a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <b>Tipo de Medicamento</b>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item">Pastillas</a>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Tabletas</a></li>
                                        <li><a class="dropdown-item" href="#">Pildoras</a></li>
                                    </ul>
                                </li>

                                <li><a class="dropdown-item">Liquido</a>
                                    <ul>
                                        <li><a class="dropdown-item" href="#">Adultos</a></li>
                                        <li><a class="dropdown-item" href="#">Niños</a></li>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    </li>
                    </ul>
                    <form class="d-flex">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><b>Usuario</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="#">Cerrar Sesión</a>
                        </li>
                        <!-- Foto de perfil miniatura
                        <li class="nav-item">
                            <a href="{% url 'project:perfil' %}">
                                <img src="{{ user.foto.url }}" class="rounded-circle" height="40" width='40' alt=""
                                    loading="lazy" />
                            </a>
                        </li>
                        -->
                        <li class="nav-item">
                            <a class="nav-link " href="#"><b>Registrarse</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="#">Iniciar Sesión</a>
                        </li>
                    </form>
                </div>
            </div>
        </nav>

        {% block all %}

        {% endblock all %}

        <footer class="container-fluid">
            <div class="bg-dark text-center p-2" style="color: rgb(0, 166, 255);">
                <h5>Sistema de Cesfam</h5>
                <form class="container-fluid justify-content-start">
                    <div class="container-fluid bg-dark text-center">
                        <p style="color: rgb(0, 166, 255);">Nuestras Redes Sociales</p>
                        <button class="btn btn-sm btn-outline-secondary" type="button">
                            <a class="hipervinculo" href="https://www.facebook.com"
                                style="text-decoration: none; color: rgb(0, 166, 255);">Facebook</a></button>
                        <button class="btn btn-sm btn-outline-secondary" type="button">
                            <a class="hipervinculo" href="https://twitter.com"
                                style="text-decoration: none; color: rgb(0, 166, 255);">Twitter</a></button>
                        <button class="btn btn-sm btn-outline-secondary" type="button">
                            <a class="hipervinculo" href="https://www.instagram.com"
                                style="text-decoration: none; color: rgb(0, 166, 255);">Instagram</a></button>
                    </div>
                </form>
                <div class="container-fluid bg-dark text-center">
                    <br>
                    <p style="color: rgb(0, 166, 255);">®Derechos Reservados :: DuocUC :: Chile 2023</p>
                </div>
            </div>
        </footer>
</html>